{% extends 'base.html' %}

{% block link %}
    {% block algo_link %}
    {% endblock %}
{% endblock %}

{% block title %}
  Page Replacement - {{algo}}
{% endblock %}

{% block body %}
<div class="main-container">
  <h1 class="page-heading"><span class="user">os_simulator@cs252</span>:<span class="filename">~/page_replacement/{{ algo }}</span></h1>
<section>
    <form>
      <div class="card-container">
        <div class="input-div">
          <label for="frames">Enter the number of frames: </label>
          <input type = "number" id="frames" placeholder="Number of frames">
        </div>
        <div class="input-div">
          <label for="rs">Enter the Reference string: </label>
                <input type = "text" id="rs" placeholder="Reference string">
        </div>
        <div class="button-div">
          <button type = "button" id="compute-btn" value = "Compute">Compute</button> 
        </div>
      </div>
      <div class="card-container" id="pr-table-div">
        <div id="table-div" class="table table-responsive"></div>
        <div id="sp1"></div>
        <div id="sp2"></div>
      </div>
    </form>
    {% block sim %}
    {% endblock %}
</section> 
</div>
{% endblock %}