{% extends 'base.html' %}

{% block link %}
    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/"; ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"]; </script>
    {% block algo_link %}
    {% endblock %}
{% endblock %}

{% block title %}
  Disk Scheduling - {{algo}}
{% endblock %}

{% block body %}
<section>
  <div class="main-container">
    <h1 class="page-heading"><span class="user">os_simulator@cs252</span>:<span class="filename">~/disk_scheduling/{{ algo }}</span>$</h1>
    <div class="card-container">
      <div class="input-div">
        <label>Enter the position of the head: </label
        ><input
          class="tdm-head"
          type="number"
          min="0"
          placeholder="Head position"
        />
        </div>
      <div class="input-div">
        <label>Enter the position of the first cylinder: </label
        ><input
          class="tdm-head"
          type="number"
          min="0"
          placeholder="First cylinder"
        />
      </div>
      <div class="input-div">
        <label>Enter the position of the last cylinder: </label>
        <input
          class="tdm-head"
          type="number"
          min="0"
          placeholder="Last cylinder"
        />
      </div> 
      <div class="input-div">
        <label>Enter the reference string: </label>
        <input
          class="tdm-head"
          type="text"
          id="reference-string"
          placeholder="Reference string"
        />
      </div>
      <div class="button-div">
        <button class="tdm-button" id="calc">Calculate</button>
      </div>
    </div>  
      <div class="card-container" id="output-container">
        <h2 class="sub-heading">Movement Chart</h2>
        <div id="chartContainer"></div>
        <canvas id="bar-chart" width="800" height="450"></canvas>
      </div>
  </div>
  {% block sim %}
  {% endblock %}
</section>    
{% endblock %}

                