{% extends 'base.html' %} {% block link %}
<script src="/static/js/deadlock/bankers.js"></script>
{% endblock %} {% block title %} Deadlock - Banker's Algorithm {% endblock %} {%
block body %}
<div class="main-container">
	<section>
		<h1 class="page-heading">
			<span class="user">os_simulator@cs252</span>:<span class="filename">~/deadlock/bankers</span>$
		</h1>
			<div class="card-container">
				<form name="resource" class="bankers-form">
					<div class="row">
						<div class="col-md-6 d-flex flex-column align-items-center">
							<div class="input-div">
								<label>Number of Resource types:</label>
								<input type="Number" onkeyup="BuildFormFields(parseInt(this.value, 10));" />
							</div>
						</div>
						<div class="col-md-6 d-flex flex-column align-items-center">
							<div id="FormFields" style="width: 100%;"></div>
						</div>
					</div>	
				</form>
			</div>
			<div class="row">
				<div class="col-md-6 d-flex flex-column align-items-center">
					<div class="card-container">
						<form name="Need">
							<div class="input-div">
								<label>Number of Processes:</label>
								<input type="Number"
									onkeyup="BuildFormFields2(y = parseInt(this.value, 10));" />
							</div>
							<div id="FormFields1" style="width: 100%;"></div>
						</form>
					</div>
				</div>
				<div class="col-md-6 d-flex flex-column align-items-center">
					<div class="card-container" id="banker-alloc">
						<form name="Alloc">
							<div id="FormFields2" style="width: 100%;"></div>
						</form>
						<div class="button-div">
							<button style="margin-top:1rem;" onclick="banker()">
								Run
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="banker-table-row">
				<div class="col-md-6">
					<div class="card-container">
						<table id="tab_need" class="table table-bordered" style="width:100%"></table>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card-container">
						<table id="tab_alloc" class="table table-bordered" style="width:100%"></table>
					</div>
				</div>
			</div>
			<div class="card-container" id="banker-output">
				<ul id="printing"></ul>
			</div>
	</section>
</div>
{% endblock %}