{% extends 'base.html' %}

{% block title %}
  File Allocation - {{ algo }}
{% endblock %}

{% block style %}
#vis2,
#fa-canvas,
#fa-output {
  display: none;
}
{% endblock %}

{% block body %}
<div class="main-container">
  <h1 class="page-heading"><span class="user">os_simulator@cs252</span>:<span class="filename">~/file_allocs/{{ algo }}</span>$</h1>
  <section>
    <div id="algo-div">
        <div class="visible1">
            <div class="card-container">
              <div class="input-div">
                <label for="nof">Enter the size of memory (number of blocks)</label>
                <input id="nof" type="number">
              </div>
              <div class="button-div">
                <button id="find">Submit</button>
              </div>
            </div>
            
            <div class="card-container" id="vis2">
                <div class="input-div">
                  <label for="file_name">File name:</label>
                  <input id="file_name" type="text">
                </div>
                <div class="input-div">
                  <label for="file_size">File size (number of blocks):</label>
                  <input id="file_size" type="number">
                </div>
                <div class="button-div">
                  <button class="btn btn-light" id="add">Add</button>
                </div>
            </div>
            <div class="card-container" id="fa-canvas">
              <canvas id="can" height="25px" col></canvas>
            </div>
            <div class="card-container" id="fa-output">
              <div id="indexed-output">
            </div>
            </div>
            <!-- <p id="op1"></p>
            <p id="op"></p>
            <div id="idxd"></div> -->
        </div>
    </div>
    {% block sim %}
    {% endblock %}
  </section>
</div>
{% endblock %}