{% extends 'base.html' %}

{% block body %}
<div class="main-container">
    <h1 class="page-heading"><span class="user">os_simulator@cs252</span>:<span class="filename">~/team</span>$</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card-container">
                <p class="st-name">
                    Pranav Agarwal
                </p>
                <p class="st-roll">
                    201CS241
                </p>
                <p class="st-conri">
                    Process Scheduling
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-container">
                <p class="st-name">
                    Prathamesh Irappa Dongritot
                </p>
                <p class="st-roll">
                    201CS242
                </p>
                <p class="st-conri">
                    File Allocation
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-container">
                <p class="st-name">
                   R Shreya
                </p>
                <p class="st-roll">
                    201CS244
                </p>
                <p class="st-conri">
                    Disk Scheduling
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-container">
                <p class="st-name">
                    Rahul S
                </p>
                <p class="st-roll">
                    201CS245
                </p>
                <p class="st-conri">
                    Process Synchronization
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-container">
                <p class="st-name">
                    Ravin Parmar
                </p>
                <p class="st-roll">
                    201CS246
                </p>
                <p class="st-conri">
                    MVT
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-container">
                <p class="st-name">
                    Rishad Shetty
                </p>
                <p class="st-roll">
                    201CS247
                </p>
                <p class="st-conri">
                    Page Replacement
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-container">
                <p class="st-name">
                    Rishika Carpenter
                </p>
                <p class="st-roll">
                    201CS248
                </p>
                <p class="st-conri">
                    Disk Scheduling
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-container">
                <p class="st-name">
                    Rupesh Shukla
                </p>
                <p class="st-roll">
                    201CS249
                </p>
                <p class="st-conri">
                    Deadlock
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-container">
                <p class="st-name">
                    Sachin Kumar
                </p>
                <p class="st-roll">
                    201CS250
                </p>
                <p class="st-conri">
                    MFT
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}