{% extends 'base.html' %}

{% block title %}
  MFT - {{ algo }}
{% endblock %}

{% block body %}
<div class="main-container">
    <h1 class="page-heading"><span class="user">os_simulator@cs252</span>:<span class="filename">~/memory-allocation/mft/{{ algo }}</span>$</h1>
    <section>
      <div class="row">
          <div class="col-md-4 d-flex flex-column justify-content-around">
                  <div class="card-container">
                    <div class="input-div">
                        <label>Number of partitions: </label>
                        <input type="text" id="num-parts" placeholder="Number of partitions">
                    </div>
                    <div class="button-div">
                        <button type="submit" id="num-parts-btn">Next</button>
                    </div>
              </div>
              <div id="parts-size-form" class="card-container">
              </div>
          </div>
          <div class="col-md-4 d-flex flex-column justify-content-around">
              <div class="card-container" id="add-rem-pro-container">
                <div id="add-rem-pro-btns">
                </div>
                <div id="add-rem-pro">
                </div>
              </div>
              <div class="card-container" id="canvas-container">
                <div id="canvas" class="ml-5 mt-5">
                </div>
              </div>
          </div>
          <div class="col-md-4 d-flex flex-column">
              <div class="card-container" id="q-table-container">
                <div class="table-responsive" id="input-q-table">
                </div>
              </div>
          </div>
      </div>
      {% block algo_link %}
      {% endblock %}
      {% block sim %}
      {% endblock %}
    </section>
  {% endblock %}    
</div>
